# =========================
# Entorno virtual
# =========================
.venv/
venv/
env/

# =========================
# Python cache / compilados
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Build / packaging
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Testing / coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Archivos de entorno
# =========================
.env
.env.*

# =========================
# Logs
# =========================
*.log

# =========================
# VSCode
# =========================
.vscode/

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db